<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Firebase.Common" version="30.0.2-alpha1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Firebase.Database.Connection" version="30.0.2-alpha1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="30.0.2-alpha1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="30.0.2-alpha1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="30.0.2-alpha1" targetFramework="MonoAndroid60" />
</packages>